openapi: 3.0.0
info:
  title: Discovered API
  description: API specification reverse-engineered from HAR analysis
  version: 1.0.0
  x-jentic-source-url: https://maptiler.com
servers:
- url: https://api.maptiler.com
  description: API server discovered from HAR analysis
paths:
  /api/user:
    post:
      summary: POST /api/user
      description: Endpoint discovered from HAR analysis (17 calls observed)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response schema to be defined based on actual responses
  /api/v2/ads/listings:
    post:
      summary: POST /api/v2/ads/listings
      description: Endpoint discovered from HAR analysis (12 calls observed)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response schema to be defined based on actual responses
      parameters:
      - name: ''
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Parameter discovered in HAR analysis
      - name: mediaSizes
        in: query
        required: false
        schema:
          type: string
        example: size72x52
        description: Parameter discovered in HAR analysis
  /recaptcha/enterprise/reload:
    post:
      summary: POST /recaptcha/enterprise/reload
      description: Endpoint discovered from HAR analysis (12 calls observed)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response schema to be defined based on actual responses
      parameters:
      - name: k
        in: query
        required: false
        schema:
          type: string
        example: 6LeVIV8lAAAAAIV3iAExz1eHwUtwU3a0OlHfjsmO
        description: Parameter discovered in HAR analysis
  /recaptcha/enterprise/clr:
    post:
      summary: POST /recaptcha/enterprise/clr
      description: Endpoint discovered from HAR analysis (12 calls observed)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response schema to be defined based on actual responses
      parameters:
      - name: k
        in: query
        required: false
        schema:
          type: string
        example: 6LeVIV8lAAAAAIV3iAExz1eHwUtwU3a0OlHfjsmO
        description: Parameter discovered in HAR analysis
  /old/v1/autocomplete:
    post:
      summary: POST /old/v1/autocomplete
      description: Endpoint discovered from HAR analysis (5 calls observed)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response schema to be defined based on actual responses
  /_next/data/r6FgZXTa2BqUvCvw0HNkI/property.json:
    get:
      summary: GET /_next/data/r6FgZXTa2BqUvCvw0HNkI/property.json
      description: Endpoint discovered from HAR analysis (5 calls observed)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response schema to be defined based on actual responses
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: string
        example: '6170347'
        description: Parameter discovered in HAR analysis
      - name: address
        in: query
        required: false
        schema:
          type: string
        example: semi-detached-house-15-cherbury-park-road-lucan-co-dublin
        description: Parameter discovered in HAR analysis
  /maps/51896624-22c9-466c-a329-a94c71f30a0d/style.json:
    get:
      summary: GET /maps/51896624-22c9-466c-a329-a94c71f30a0d/style.json
      description: Endpoint discovered from HAR analysis (5 calls observed)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response schema to be defined based on actual responses
      parameters:
      - name: key
        in: query
        required: false
        schema:
          type: string
        example: 94POrAmV6YVyhXBXGw8R
        description: Parameter discovered in HAR analysis
  /tiles/v3/tiles.json:
    get:
      summary: GET /tiles/v3/tiles.json
      description: Endpoint discovered from HAR analysis (5 calls observed)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response schema to be defined based on actual responses
      parameters:
      - name: key
        in: query
        required: false
        schema:
          type: string
        example: 94POrAmV6YVyhXBXGw8R
        description: Parameter discovered in HAR analysis
  /maps/51896624-22c9-466c-a329-a94c71f30a0d/sprite@2x.json:
    get:
      summary: GET /maps/51896624-22c9-466c-a329-a94c71f30a0d/sprite@2x.json
      description: Endpoint discovered from HAR analysis (5 calls observed)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response schema to be defined based on actual responses

  /$rpc/google.internal.waa.v1.Waa/GenerateIT:
    post:
      summary: POST /$rpc/google.internal.waa.v1.Waa/GenerateIT
      description: Endpoint discovered from HAR analysis (1 calls observed)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response schema to be defined based on actual responses
  /youtubei/v1/log_event:
    post:
      summary: POST /youtubei/v1/log_event
      description: Endpoint discovered from HAR analysis (4 calls observed)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response schema to be defined based on actual responses
      parameters:
      - name: alt
        in: query
        required: false
        schema:
          type: string
        example: json
        description: Parameter discovered in HAR analysis
  
  /old/v3/filters/search/residential-sold:
    get:
      summary: GET /old/v3/filters/search/residential-sold
      description: Endpoint discovered from HAR analysis (1 calls observed)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Response schema to be defined based on actual responses
components:
  schemas: {}
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key authentication
